@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
  @font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato/Lato-Black.ttf);
  }
  @font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
  }
    @font-face {
      font-family: NunitoSans-Bold;
      src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
    }
  * {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
  }
  body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
  }
  @media screen and (min-width: 768px) {
    body {
      font-size: 28px;
    }
    body section .contentblock{
      font-size: 24px;
    }
    body.home section .contentblock{
      font-size: 28px;
    }
  }
  body.home {
    background-color: #fff;
    color: #000000;
    font-size: 20px;
  }
  @media screen and (min-width: 768px) {
    body.home {
      background-color: #fff;
      color: #000000;
      font-size: 28px;
    }
  }
  dl, ol, ul {
    padding-left: 30px;
  }
  .banner .contentblock {
    position: relative;
    padding: 0px !important;
  }
  .banner .page-hdr {
    position: absolute;
    bottom: 20px;
    /*left: 15px;*/
    left:60px;
    font-size: 50px;
    font-family: 'NunitoSans-Bold', sans-serif;
    color: #fff;
    text-decoration: none;
    line-height: 1.2em;
  }
  @media (max-width: 767px) {
    .banner .page-hdr {
      left:30px;
    }
  }
  .page-hdr.text-align-right {
    left: auto;
    right: 15px;
  }
  .home .banner .page-hdr,
  .ngwp.privacy-policy #block-paragraph1 h2:first-of-type,
  .ngwp.terms-of-use #block-paragraph1 h2:first-of-type {
    font-size: 36px;
  }
  @media screen and (min-width: 768px) {
    .banner .page-hdr,
    .ngwp.privacy-policy #block-paragraph1 h2:first-of-type,
    .ngwp.terms-of-use #block-paragraph1 h2:first-of-type {
      font-size: 50px;
    }
    .home .banner .page-hdr {
      bottom: 48px;
      font-size: 36px;
    }
    .page-hdr.text-align-left,
    .page-hdr.text-align-right {
      max-width: 495px;
    }
  }

  .banner .parallax-window {
    min-height: 400px;
    height: 30vh;
  }
  .banner .parallax-window {
    min-height: 637px;
    height: 35vh;
  }
  @media screen and (max-width: 1023px) {
    .banner .parallax-window {
      background-position: 71% center !important;
    }
    .ngwp.home .banner .parallax-window {
      background-position: center center !important;
    }
    .ngwp.basicpage.solutions-portfolio .banner .parallax-window {
      background-position: right center !important;
    }
  }
  .home .banner .page-hdr.banner-overlay {
    bottom: -50px;
  }
  .banner .banner-overlay img {
    height: 50%;
    max-height: 50vh;
    max-width: 80vw;
  }
  .banner .banner-gradient {
    display: none;
  }
  /*
  .ngwp.home .banner .banner-gradient {
    display: block;
    background-image: url(../images/gradient.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: 1600px 352px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 352px;
    z-index: 1;
  }
  .banner .contentblock {
    z-index: 2;
  }*/

  p {
    margin-bottom: 1em;
  }
  .banner p {
    margin-bottom: 1em;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 100%;
  }
  @media (min-width: 600px) {
    .banner p {
      font-size: 100px;
    }
  }
  .banner p.blurb {
    margin-bottom: 3em;
    margin-bottom: 0em;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.5em;
  }
  .ngwp.home .banner p {
    margin-bottom: 2.5em;
  }
  .ngwp .block-paragraph p {
    font-family: 'Lato-bold', sans-serif;
  }
  a {
    color: #3956c2;
  }
  .breadcrumb {
    display: none;
  }
  img.site-banner {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }
  @media (min-width: 576px) {
    img.site-banner {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  @media (min-width: 768px) {
    img.site-banner {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .contentblock h1,
  .contentblock .h1 {
    font-size: 34px;
    color: #e31837;
  }
  @media (min-width: 768px) {
    .contentblock h1,
    .contentblock .h1 {
      font-size: 48px;
    }
  }
  h2,
  .block-heading {
    font-size: 40px;
    color: #000000;
  }
  @media (min-width: 768px) {
    h2,
    .block-heading {
      font-size: 40px;
    }
  }
  .ngwp .sticky-top {
    position: relative;
  }
  
  /* home page */
  .site-sections h3 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  .home .site-sections a {
    color: #000;
    text-decoration: none;
  }
  /* end home page */
  
  /*HEADER - start*/
  #header {
    background-color: #fff;
    position: relative;
    z-index: 10;
    border-bottom: #CE1126 solid 4px;
  }
  .ngwp.privacy-policy #header,
  .ngwp.terms-of-use #header {
    border-bottom: 1px solid #0071ce;
  }
  
  /* Content styles */
  section {
    width: 100%;
    position: relative;
  }
  section .block-table table {
    overflow-x: scroll;
  }
  
  section.white-bg {
    background-color: white;
  }
  .ngwp section .contentblock {
    width: 100%;
    /*max-width: 1154px;
    max-width: 1920px;*/
    margin-right: auto;
    margin-left: 0px;
    padding: 0px;
  }
  .ngwp section .contentblock .pagecontent {
    width: 100%;
    /*max-width: 1920px;*/
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
  }
  .ngwp section .contentblock .pagecontent section.block-paragraph {
    width: 100%;
    max-width: 1154px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 15px;
  }
  .ngwp section .contentblock .pagecontent section.block-two_columns section.block-paragraph {
    width: 100%;
    padding: 0px 0px;
  }
  /*
  body.home .contentblock:first-of-type {
    max-width: 100%;
    padding: 0px 0px 50px;
  }*/
  body.home .contentblock:first-of-type .block-table table,
  body.home .site-sections,
  body.home #faq .contentblock {
    max-width: 1154px;
    padding: 50px 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .banner .contentblock,
  body.home .contentblock .block-two_columns .container {
    max-width: 1154px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  body.home .contentblock .block-two_columns .container .col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
  body.home .contentblock .block-two_columns .container .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  body.home .site-sections {
    padding-top: 90px;
    padding-bottom: 0px;
  }
  body.home .site-sections .col-sm {
    padding-bottom: 50px;
  }
  body.home .site-sections img {
    width: 90%;
    margin: 10px 5% 30px;
  }
  .ngwp .navbar-nav {
    width: auto;
    max-width: 1154px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .ngwp .contentblock {
      padding: 50px 50px;
    }
    .ngwp .navbar-nav {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media (min-width: 1320px) {
    .ngwp .contentblock {
      padding: 50px 15px;
    }
    .ngwp .navbar-nav {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  /*
  .home.ngwp .contentblock {
    padding: 0px 15px 50px;
  }*/
  .ngwp .contentblock.padded {
    padding: 85px 70px 85px 70px;
  }
  .ngwp .navbar-nav {
    padding-left: 0;
    padding-right: 0;
  }
  .pagecontent {
    width: 100%;
  }
  .pagecontent.reduced {
    float: left;
    max-width: 70%;
  }
  @media (max-width: 767px) {
    .pagecontent.reduced {
      float: none;
      max-width: 100%;
    }
  }
  /*body.home section:nth-of-type(2) {*/
  #faq {
    background-color: #cc162d;
    color: #fff;
    text-align: center;
  }
  #faq h2 {
    color: #fff;
  }
  #faq .card {
    border-radius: 0rem;
  }
  #faq .accordion {
    color: #000;
    text-align: left;
  }
  #faq h4 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    color: black;
    text-decoration: none !important;
    margin: 0px;
  }
  #faq .card-header {
    border-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  #faq .card-body {
    font-family: ObjektivMk2_Lt;
    font-size: 18px;
  }
  #faq .card-header,
  #faq .card-body {
    font-size: 18px;
    padding: 18px 32px;
  }
  #faq .btn {
    padding: 6px 0px;
    border-bottom: 0px;
    width: 100%;
    text-align: left;
  }
  #faq .btn-link {
    font-weight: 400;
    color: #000;
    text-decoration: none;
  }
  #faq .contentblock {
    padding-top: 80px;
    padding-bottom: 123px;
  }
  
  @media (max-width: 767px) {
    /*@media (max-width: 691px) {*/
    body.home #header {
      /*background-color: #2c385e;*/
    }
    .navbar-dark .navbar-toggler,
    .navbar-light .navbar-toggler {
      margin-top: -68px;
      float: right;
      margin-right: 5px;
    }
    .navbar-light .navbar-toggler,
    .navbar-light .navbar-toggler:focus,
    .navbar-light .navbar-toggler:hover {
      outline: 0px solid;
      border-width: 0px;
    }
  }
  
  .navbar-brand {
    /*max-width: 1126px;*/
    max-width: Calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    /*padding-left: 0px !important;*/
    padding-left: 40px !important;
  }
  
  @media (max-width: 767px) {
    /*@media (max-width: 691px) {*/
    .navbar-brand {
      display: flex;
      flex-direction: row;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      padding-left: 5px !important;
    }
  }
  
  .navbar-brand a {
    /* Animation */
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .navbar-brand .nasa-logo {
    /*background: url(../images/nasa-logo.png) no-repeat left center;*/
    background-size: contain;
    display: inline-block;
  }
  .navbar-brand .ngwpani-logo {
    color: white;
    text-decoration: none;
    margin-left: 5px;
  }
  @media (max-width: 767px) {
    .navbar-brand .ngwpani-logo {
      max-width: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .ngwpani-logo a {
    color: white;
    text-decoration: none;
  }
  .jpl_logo {
    height: 1.5rem;
    width: 190px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .jpl_logo a {
    display: table;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    cursor: pointer;
  }
  .caltech_logo {
    height: 1.4rem;
    width: 190px;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .caltech_logo a {
    display: table;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
  }
  .ngwpani-logo {
    width: 260px;
    height: 80px;
    /*background: url(../images/ngwp-logo.jpg) no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;*/
    position: relative;
  }
  @media screen and (min-width: 600px) {
    .jpl_logo {
      height: 2.25rem;
      width: 275px;
    }
    .caltech_logo {
      height: 2.25rem;
      width: 275px;
      bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    .jpl_logo {
      height: 2.25rem;
      width: 275px;
    }
    .caltech_logo {
      height: 2.25rem;
      width: 275px;
    }
  }
  .navbar-brand .site-home-page {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 1.2rem;
    padding-left: 10px;
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;
    border-left: 1px solid #fff;
    height: 2.2rem;
    display: inline-block;
  }
  @media (max-width: 767px) {
    .navbar-brand {
      white-space: normal;
    }
    .navbar-brand .site-home-page {
      margin-top: 5px;
      height: 4rem;
      line-height: 1.2rem;
      margin-left: 6px;
      padding-left: 6px;
      max-width: 70px;
    }
  }
  .site-home-page-small-screen {
    display: block;
    position: relative;
    width: 100%;
  }
  .site-home-page-small-screen .banner-text {
    display: block;
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1px) {
    .navbar-brand .nasa-logo {
      width: 54px;
      min-width: 45px;
      height: 65px;
    }
    .navbar-brand .site-home-page {
      font-size: 1rem;
      padding-top: 10px;
    }
    .jpl_logo a {
      font-size: 0.8rem;
    }
    .navbar-expand-md .navbar-nav {
      border-bottom: 4px solid black;
    }
    .caltech_logo a {
      font-size: 0.7rem;
    }
  }
  @media screen and (min-width: 768px) {
    .jpl_logo {
      height: 2.25rem;
    }
    .navbar-brand .nasa-logo {
      width: 85px;
      height: 76px;
      margin-top: -5px;
    }
    .jpl_logo a {
      font-size: 20px;
      line-height: 20px;
    }
    .caltech_logo a {
      font-size: 16px;
      line-height: 16px;
    }
    .navbar-brand .site-home-page {
      font-size: 35px;
      line-height: 30px;
      margin-left: 20px;
      padding-left: 20px;
      padding-top: 5px;
      min-height: 40px;
    }
    .navbar-expand-md .navbar-nav {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: -20px;
      margin-right: auto;
      border-bottom: 0px;
    }
    .site-home-page .banner-text {
    }
  }
  @media screen and (min-width: 992px) { 
  }
  @media screen and (min-width: 1200px) {    
    .navbar-expand-md .navbar-nav {
      margin-left: -40px;
    }
  }
  
  @media screen and (min-width: 1400px) {
    nav .navbar-brand .site-home-page {
      font-size: 35px;
      line-height: 35px;
    }
    .site-home-page .banner-text {
      margin-top: 0px;
    }
  }
  /*HEADER - end*/
  
  /*TOP NAV*/
  
  /* Navbar effects */
  nav#headerL1nav {
    /* background-color: #1b567c;
      max-width: 1200px;*/
    max-width: 1360px;
    background-color: #fff;
    margin-left: auto;
    margin-right: 0px;
  }
  
  @media (max-width: 767px) {
    /*@media (max-width: 690px) {*/
    nav#headerL1nav {
      position: absolute;
      top: 100px;
      right: 0px;
      padding: 0px;
      width: 100%;
      display: block;
    }
  }
  
  nav#headerL1nav.navbar,
  nav#headerL1nav.navbar .navbar-brand a,
  nav#headerL1nav.navbar .nav-item a {
    color: #63666A;
    background-color: #fff;
    font-size: 24px;
    font-family: 'Lato-Bold', sans-serif;
    text-decoration: none;
  }
  nav#headerL1nav.navbar .nav-item a:hover {
    /*color: #000;*/
    text-decoration: none;
  }
  nav#headerL1nav.navbar .nav-item a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    /*background-color: #009c77;*/
    background-color: #CE1126;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  nav#headerL1nav.navbar .nav-item a:hover::before {
    transform: scaleX(1);
  }
  nav#headerL1nav.navbar .nav-item.active a {
    color: #CE1126;
  }
  nav#headerL1nav.navbar .nav-item.active .dropdown-item a {
    color: #000000;
  }
  nav#headerL1nav.navbar .nav-item .dropdown-item a {
    font-size: 20px;
  }
  nav#headerL1nav.navbar .navbar-brand a:hover,
  nav#headerL1nav.navbar .nav-item a:hover {
    /*color: #000000;*/
  }
  nav#headerL1nav.navbar .nav-item {
    padding: 0px 20px;
    position: relative;
  }
  @keyframes slideSubNav {
    0% {
      opacity: 0;
      margin-top: -20px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }
  @media (max-width: 767px) {
    nav#headerL1nav.navbar .nav-item a {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      padding: 0.5rem 1rem;
      display: block;
    }
    nav#headerL1nav.navbar .nav-item .dropdown-item a {
      font-size: 1rem;
      text-transform: none;
      padding-bottom: 0rem;
      font-weight: 500;
    }
    nav#headerL1nav .dropdown.show .dropdown-menu .dropdown-item {
      opacity: 0;
      animation-name: slideSubNav;
      animation-duration: 0.5s;
    }
    nav#headerL1nav .dropdown.show .dropdown-menu.show .dropdown-item {
      opacity: 1;
      animation-name: slideSubNav;
      animation-duration: 0.5s;
    }
    nav#headerL1nav
      .dropdown.show
      .dropdown-menu.show
      .dropdown-item:nth-child(1) {
      border-top: 1px solid #fefefe;
    }
    nav#headerL1nav .nav-item:nth-last-child(1) {
      padding-bottom: 1rem;
    }
  }
  @media screen and (min-width: 768px) {
    nav#headerL1nav.navbar .nav-item a {
      /*font-size: 16px;*/
    }
    nav#headerL1nav.navbar .nav-item .dropdown-item a {
      /*font-size: 14px;*/
    }
  }
  @media screen and (min-width: 1300px) {
    nav#headerL1nav.navbar .nav-item a {
      font-size: 20px;
    }
    nav#headerL1nav.navbar .nav-item .dropdown-item a {
      font-size: 17px;
    }
  }

  @media (max-width: 767px) {
    nav#headerL1nav.navbar .nav-item {
      width: auto;
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
    }
    .nav.navbar-nav {
      margin-top: 1em;
      margin-bottom: 1em;
      border-bottom-width: 0px;
    }
    nav#headerL1nav .nav-item:nth-last-child(1) {
      padding-bottom: 0rem;
    }
  }
  /*TOP NAV - end*/
  
  /* Fix to make Dropdown menu open on rollover instead of click */
  @media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
      display: block !important;
    }
  }
  
  /*TOP NAV's dropdown*/
  #headerL1nav .dropdown-menu {
    padding: 0rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    background-color: #2c385e;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0rem;
    right: -14px;
    left: auto;
    margin: 0px;
  }
  @media screen and (min-width: 768px) {
    #headerL1nav .dropdown-menu {
      text-align: right;
      border-top: 1px solid #fefefe;
    }
  }
  #headerL1nav .dropdown .dropdown-menu {
    padding-bottom: 10px;
    margin-right: 26px;
  }
  
  /*transition for subnav*/
  @keyframes example {
    0% {
      opacity: 0;
      margin-top: -20px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }
  @media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu .dropdown-item {
      opacity: 1;
      animation-name: example;
      animation-duration: 0.2s;
    }
  }
  
  #headerL1nav .dropdown-item {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.05rem;
    position: relative;
    background-color: #2c385e;
  }
  @media screen and (min-width: 1px) {
    #headerL1nav .dropdown-item {
      font-size: 0.9rem;
    }
  }
  @media screen and (min-width: 768px) {
    #headerL1nav .dropdown-item {
      font-size: 0.7rem;
    }
  }
  #headerL1nav .dropdown-item.subnav {
    color: #ffffff;
    font-weight: normal !important;
    opacity: 0.7 !important;
    letter-spacing: 0.05rem;
    position: relative;
    padding-right: 33px;
  }
  #headerL1nav .dropdown-item.subnav:after {
    content: "\2022";
    font-weight: normal;
    float: right;
    position: absolute;
    right: 25px;
    top: 6px;
  }
  @media screen and (min-width: 1px) {
    #headerL1nav .dropdown-item.subnav {
      font-size: 0.9rem;
    }
  }
  @media screen and (min-width: 768px) {
    #headerL1nav .dropdown-item.subnav {
      font-size: 0.9rem;
    }
  }
  /*end TOP NAV's dropdown*/
  
  /*footer start*/
  footer {
    flex-shrink: 0;
    width: 100%;
    background: #63666A;
    color: white;
    padding: 10px 0 0;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
  }
  footer.footer-cyberani {    
    flex-shrink: 0;
    width: 100%;
    color: white;
    padding: 30px 0 0;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    background: #0071ce;
  }
  footer .content-wrapper {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    margin: 45px auto;
    max-width: 1154px;
    width: calc(100% - 40px);
    position: relative;
    line-height: 160%;
  }
  footer .content-wrapper:last-of-type {
    margin-bottom: 0px;
  }
  footer .legal.content-wrapper {
    margin-bottom: 0px;
    padding-bottom: 45px;
  }
  
  footer section {
    min-width: 100%;
    display: block;
  }
  footer hr {
    width: 100%;
    border: 1px solid #ccc;
  }
  footer h1.logo {
    font-size: 1rem;
    text-align: center;
  }
  @media screen and (min-width: 970px) {
    footer h1.logo {
      text-align: left;
    }
  }
  footer .logo h1 {
    font-size: 1.375rem;
  }
  footer .logo img {
    width: 190px;
    height: auto;
    border: none;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  @media screen and (min-width: 450px) {
    footer .logo img {
      width: 218px;
    }
  }
  @media screen and (min-width: 768px) {
    footer .logo img {
      margin-right: 70px;
    }
  }
  @media screen and (min-width: 970px) {
    footer .logo img {
      width: 240px;
      margin-right: 130px;
    }
  }
  footer .footer-overview {
    font-size: 1.125rem;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    line-height: 1.5em;
  }
  @media screen and (min-width: 768px) {
    footer .footer-overview {
      text-align: left;
      margin-bottom: 0px;
    }
  }
  footer hr {
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #ccc;
  }
  footer a {
    color: white;
    line-height: 100%;
  }
  footer a:hover,
  footer a:hover span {
    color: white;
    text-decoration: underline;
  }
  footer a::after {
    content: normal;
  }
  footer .footer-top-nav,
  footer .footer-bottom-nav {
    margin: 0 auto;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 83.3333333333%;
  }
  footer .footer-top-nav {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
  }

  .ngwp footer .footer-top-nav {
    -ms-flex-direction: column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    footer .footer-top-nav {
      /*-ms-flex-direction: row;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;*/
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: none;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      width: 100%;
    }
  }
  footer .footer-top-nav .logo {
    width: 100%;
    min-width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 15px;
  }
  @media screen and (min-width: 768px) {
    footer .footer-top-nav .logo {
      min-width: 0;
      width: auto;
      margin-left: -15px;
    }
  }  
  footer .footer-top-nav .primary {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  @media screen and (min-width: 768px) {
    footer .footer-top-nav .primary {
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: left;
      -moz-box-align: left;
      -ms-flex-align: left;
      -webkit-align-items: left;
      align-items: left;
      margin-right: -15px;
      margin-left: auto;
      font-size: 1.3rem;
      /*padding:0 15px;*/
      padding:0 0px;
    }
  }
  @media screen and (min-width: 970px) {
    footer .footer-top-nav .primary {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      display: block;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 1.5rem;
    }
  }
  footer .footer-top-nav .primary p {
    width: 100%;
  }
  footer .footer-top-nav .primary .footer-links {
    border-bottom: solid 2px #B1B1B3;
  }
  footer .footer-top-nav .primary .footer-links a,
  footer .footer-top-nav .primary .footer-links span {
    padding: 15px 15px 15px 0px;
    font-family: "Helvetica65", helvetica, arial, sans-serif;
    font-weight: bold;
  }
  @media screen and (min-width: 768px) {
    footer .footer-top-nav .primary  .footer-links a,
    footer .footer-top-nav .primary .footer-links span {
      padding-right: 0px;
      margin-right: 50px;
      font-size: 1.125rem;
    }
  }
  @media screen and (min-width: 970px) {
    footer .footer-top-nav .primary  .footer-links a,
    footer .footer-top-nav .primary .footer-links span {
      font-size: 1.325rem;
    }
  }

  footer.footer-cyberani .footer-top-nav .primary a {
    padding: 10px 15px;
  }
  @media screen and (min-width: 768px) {
    footer.footer-cyberani .footer-top-nav .primary a {
      padding-right: 30px;
      font-size: 16px;
    }
  }
  @media screen and (min-width: 970px) {
    footer.footer-cyberani .footer-top-nav .primary a {
      padding-left: 30px;
      font-size: 16px;
    }
  }

  footer .footer-top-nav div {
    display: block;
  }
  @media screen and (min-width: 768px) {
    footer .footer-top-nav div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
  }
  footer .footer-top-nav h1 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  footer section:last-of-type {
    min-width: 100%;
  }
  footer section:last-of-type .legal.content-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  footer section:last-of-type .footer-wrapper {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 0;
  }
  @media screen and (min-width: 970px) {
    footer section:last-of-type .footer-wrapper {
      margin-top: 22.5px;
      -webkit-box-align: start;
      -moz-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
  }
  footer section:last-of-type .footer-wrapper div {
    flex-basis: 100%;
  }
  @media screen and (min-width: 970px) {
    footer section:last-of-type .footer-wrapper div {
      flex-basis: 50%;
    }
  }
  @media screen and (min-width: 970px) {
    footer section:last-of-type .footer-wrapper .legal {
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
    }
  }
  @media screen and (min-width: 970px) {
    footer section:last-of-type .footer-wrapper .legal.content-wrapper {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  @media screen and (min-width: 970px) {
    footer section:last-of-type .footer-wrapper .content-wrapper.no-contact {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 970px) {
    footer section:last-of-type .footer-wrapper .content-wrapper.contact {
      margin-bottom: 15px;
      margin-top: 0;
    }
  }
  footer #block-footer-logo-links section {
    padding-bottom: 0;
  }  
  footer.footer-cyberani #block-footer-logo-links section {
    background: transparent;
    padding-bottom: 0;
  }
  footer #block-footer-logo-links section .content-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    footer #block-footer-logo-links section .content-wrapper {
      -webkit-box-pack: start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
    }
  }
  footer .footer-bottom-nav {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  @media screen and (min-width: 450px) {
    footer .footer-bottom-nav {
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  @media screen and (min-width: 970px) {
    footer .footer-bottom-nav {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
  }
  footer .footer-bottom-nav.social {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    min-width: 100%;
  }
  @media screen and (min-width: 450px) {
    footer .footer-bottom-nav.social {
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  @media screen and (min-width: 970px) {
    footer .footer-bottom-nav.social {
      min-width: 0;
      margin-right: -30px;
      -webkit-box-pack: end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
    }
  }
  footer .footer-bottom-nav.social a {
    padding: 30px 15px;
    text-decoration: none;
    font-size: 1.5rem;
  }
  @media screen and (min-width: 450px) {
    footer .footer-bottom-nav.social a {
      padding: 30px;
    }
  }
  footer .footer-bottom-nav.primary {
    width: 100%;
    min-width: 100%;
  }
  footer .footer-bottom-nav.primary a {
    padding: 15px 0;
  }
  footer .footer-bottom-nav.primary p {
    margin: 0;
  }
  footer .legal p,
  footer .legal a {
    text-align: center;
    font-size: 0.75rem;
    line-height: 170%;
    color: #ccc;
  }
  @media screen and (min-width: 970px) {
    footer .legal p,
    footer .legal a {
      text-align: left;
    }
  }
  footer .legal a {
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    footer .legal p {
      margin-top: 0;
    }
  }
  footer .legal span {
    padding: 0 7.5px;
  }
  footer #block-copyright,
  footer #block-contact {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  footer #block-contact {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  @media screen and (min-width: 970px) {
    footer #block-contact {
      padding-top: 35px;
    }
  }
  footer #block-contact a {
    font-family: "Helvetica65", helvetica, arial, sans-serif;
    font-size: 18px;
  }
  @media screen and (min-width: 970px) {
    footer .contact .legal p,
    footer .contact .legal a {
      text-align: center;
    }
  }
  @media screen and (min-width: 970px) {
    footer #block-footer-social {
      margin-right: -30px;
      flex: 1;
    }
  }
  @media screen and (min-width: 970px) {
    footer .contact #block-copyright,
    footer .contact #block-contact {
      text-align: left;
      display: block;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
  }
  @media screen and (min-width: 970px) {
    footer .no-contact #block-copyright,
    footer .no-contact #block-contact {
      padding: 30px 0;
    }
  }
  /*footer end*/
  
  hr {
    margin: 50px 0;
    border-top: 4px solid black;
    clear: both;
  }
  .gray-box {
    padding: 20px;
    background-color: #dfe1df;
  }
  .container.two-cols {
    margin-bottom: 30px;
    padding-left: 0px !important;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100%;
  }
  .container.two-cols .block-table table {
    margin-bottom: 0px;
  }
  
  
  /*generic table for misr pages, to match the header colors*/
  .ngwp .block-table table {
    border: 1px solid #354a7b;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 90%;
  }
  .ngwp .block-table table td,
  .ngwp .block-table table th,
  .ngwp .block-table table tbody th {
    border: 1px solid #354a7b;
    padding: 4px 10px;
  }
  .ngwp .block-table table tbody td {
    /*font-size: 13px;*/
    color: #000000;
    vertical-align: top;
    text-align: left;
  }
  .ngwp .block-table table thead {
    background: #354a7b;
  }
  .ngwp .block-table table thead th {
    /*font-size: 15px;*/
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #b3b3b3;
    vertical-align: bottom;
  }
  .ngwp .block-table table thead th:first-child {
    border-left: none;
  }
  .ngwp .block-table table tfoot {
    font-weight: normal;
    color: #000000;
    background: #b3b3b3;
  }
  .ngwp .block-table table tfoot td {
    vertical-align: top;
  }
  /*generic table end*/
  
  .block-two_columns {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /*.block-two_columns h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
    color: black;
  }*/
  body.home .block-two_columns {
    background-color: #000;
  }
  body.home .block-two_columns,
  body.home .block-two_columns h2 {
    color: white;
  }
  .block-two_columns .image-right img,
  .block-two_columns .image-left img,
  .block-two_columns .image-center img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    /*height: 350px;*/
  }
  
  .bg-gray {
    background-color: #dfe1de;
  }
  /*custom tables end*/
  
  .ngwp.careers #block-two_columns3,
  .ngwp.contact-us #block-two_columns3 {
    background-color: black;
      padding-top: 0px;
      padding-bottom: 0px;
  }
  .ngwp.careers #block-two_columns3 .container,
  .ngwp.contact-us #block-two_columns3 .container {
    max-width: 100%;
  }
  .ngwp.careers #block-two_columns3 .container .col-md-6:first-of-type,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:first-of-type {
    padding: 0px;
  }
  .ngwp.careers #block-two_columns3 .container .col-md-6:first-of-type .image_builder_block,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:first-of-type .image_builder_block {
    margin: 0px;
  }
  .ngwp.careers #block-two_columns3 .container .col-md-6:first-of-type .block-image,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:first-of-type .block-image,
  .ngwp.careers #block-two_columns3 .container .col-md-6:first-of-type .image_builder_block,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:first-of-type .image_builder_block,
  .ngwp.careers #block-two_columns3 .container .col-md-6:first-of-type .image_builder_img,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:first-of-type .image_builder_img,
  .ngwp.careers #block-two_columns3 .container .col-md-6:first-of-type .image_builder_block img,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:first-of-type .image_builder_block img {
    height: 100%;
  }
  .ngwp.careers #block-two_columns3 .container .col-md-6:last-of-type .block-paragraph,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:last-of-type .block-paragraph,
  .ngwp.careers #block-two_columns3 .container .col-md-6:last-of-type .block-button,
  .ngwp.contact-us #block-two_columns3 .container .col-md-6:last-of-type .block-button {
    max-width: 500px;
    margin-left: 0px;
  } 

  .ngwp.careers #block-two_columns3,
  .ngwp.careers #block-two_columns3 h2,
  .ngwp.contact-us #block-two_columns3,
  .ngwp.contact-us #block-two_columns3 h2 {
    color: white !important;
  }
  .ngwp.careers #block-two_columns3 .col-md-6:last-of-type,
  .ngwp.contact-us #block-two_columns3 .col-md-6:last-of-type {
    background-color: black;
      padding-top: 70px;
      padding-bottom: 70px;      
      padding-left: 70px;
  }

  @media screen and (max-width: 1023px) {
    .ngwp.careers #block-two_columns3 .col-md-6:last-of-type,
    .ngwp.contact-us #block-two_columns3 .col-md-6:last-of-type {
        padding-left: 15px;
    }
  }

.block-button {
  text-align: center;
}
a.button,
.theme-light a.button {
    display: inline-block;
    padding-top: 11px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px 30px;
    min-width: 70%;
    max-width: 100% !important;
    text-align: center;
    border: 0px solid #4b4747;
    border-radius: 35px;
    background-color: #009c77;
    -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
    transition: background-color .3s ease, border .3s ease, color .3s ease;
    font-size: 28px;
    color: #e7e8e8;
    line-height: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Lato-bold', sans-serif;
    text-decoration: none;
    cursor: pointer;
    touch-action: manipulation;
    box-sizing: border-box;
}
.theme-dark a.button {
    border: 0px solid #feffff;
    color: #feffff;
}
a.button:focus,
a.button:hover {
	border-color: #ccc;
    color: #fff;
    text-decoration: none;
    transition: all 321ms ease;
    -webkit-transition: all 321ms ease;
    -moz-transition: all 321ms ease;
    -o-transition: all 321ms ease
}
.theme-dark a.button:focus,
.theme-dark a.button:hover {
    border-color: #ccc;
    color: #fff;
}
.black-box {
  background-color: black;
  color: white;
}
.gray-box {
  background-color: #ebebeb;
  color: black;
}
.white-box {
  background-color: white;
  color: black;
}
.gray-border {
  border: 1px solid gray;
}
.centered {
  text-align: center;
}
.larger-txt {
  font-size: 1.2em;
}
.section-padded-text {
  padding: 3em 15px 2em !important;
}
@media screen and (min-width: 970px) {
  .section-padded-text {
    /*padding: 3em 10% 2em !important;*/
  }
}

.button-tools-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.button-tools {
  border: 10px solid #ebebeb;
  vertical-align: middle;
  text-align: left;
  display:table-row;
}
@media screen and (min-width: 600px) {
  .button-tools {
    border: 30px solid #ebebeb;
    display:table-cell;
  }
}
@media screen and (min-width: 970px) {
  .button-tools-box {
    width: 90%;
  }
  .button-tools {
    border: 30px solid #ebebeb;
  }
}
.button-tools a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.button-tools a:hover {
  text-decoration: none;
  font-weight: bold;
}
.button-tools img {
  width: 100%;
}

.button-tools a {
  padding:5px 5%; 
}
.news-img {
  width: 25%;
  text-align: right;
  vertical-align: top;
}
.news-img img{
  width: 100%;
  max-width: 255px;
}
.news-caption {
  padding-right: 5%;  
  line-height: 1.3em;
}
.news-caption h2, .news-caption h2 a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;  
  line-height: 1.2em;
}
.newsblurb {
  margin-top: 1em;
  margin-bottom: 1em;
}
.news-box hr {
  border-top: 2px solid #e0e7eb;
}
.newsdate {
  font-size: 20px;
}
.rtx-raytheon-logo {
  display: block;
  margin-left: 0;
  margin-right: auto;
  position: relative;
  margin-bottom: 50px;
}